.bg-gradient {
    background-image: -webkit-linear-gradient(to right, $gradient-end, $gradient-start);
    background-image: -moz-linear-gradient(to right, $gradient-end, $gradient-start);
    background-image: -o-linear-gradient(to right, $gradient-end, $gradient-start);
    background-image: linear-gradient(to right, $gradient-end, $gradient-start);

    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;

    &:hover {
        background-image: -webkit-linear-gradient(to right, $gradient-start, $gradient-end);
        background-image: -moz-linear-gradient(to right, $gradient-start, $gradient-end);
        background-image: -o-linear-gradient(to right, $gradient-start, $gradient-end);
        background-image: linear-gradient(to right, $gradient-start, $gradient-end);

        -webkit-transition: background-image 1s ease-out;
        -moz-transition: background-image 1s ease-out;
        -o-transition: background-image 1s ease-out;
        transition: background-image 1s ease-out;
    }
}

.bg-gradient-reverse {
    background-image: -webkit-linear-gradient(to right, $gradient-start, $gradient-end);
    background-image: -moz-linear-gradient(to right, $gradient-start, $gradient-end);
    background-image: -o-linear-gradient(to right, $gradient-start, $gradient-end);
    background-image: linear-gradient(to right, $gradient-start, $gradient-end);

    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;

    &:hover {
        background-image: -webkit-linear-gradient(to right, $gradient-end, $gradient-start);
        background-image: -moz-linear-gradient(to right, $gradient-end, $gradient-start);
        background-image: -o-linear-gradient(to right, $gradient-end, $gradient-start);
        background-image: linear-gradient(to right, $gradient-end, $gradient-start);

        -webkit-transition: background-image 1s ease-out;
        -moz-transition: background-image 1s ease-out;
        -o-transition: background-image 1s ease-out;
        transition: background-image 1s ease-out;
    }
}

.text-gradient {
    // background-image: linear-gradient(to right, $gradient-end, $gradient-start);
    background-image: linear-gradient(to right, $gradient-end, $gradient-start);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-reverse {
    // background-image: linear-gradient(to right, $gradient-start, $gradient-end);
    background-image: linear-gradient(to right, $gradient-start, $gradient-end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
